.design-project
  &__section-description
    max-width: 59%
    display: block
    margin: 0 auto
    color: $font-dark
    margin-top: 1.5rem
    margin-bottom: 3rem
  &__image
    position: relative
    &::before
      content: ''
      position: absolute
      top: 0
      left: 0
      height: 100%
      width: 97.5%
      background-color: rgba($dark, 0.3)
      

