.header
  background-color: $dark
  padding: 24px 0
  position: fixed
  left: 0
  top: 0
  z-index: 99
  width: 100%

.menu
  display: flex
  justify-content: space-between
  align-items: center

.logo
  color: $primary
  text-transform: uppercase
  font-family: FuturaDemiC;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;


.nav
  &__item
    color: $light
    margin-right: 40px
    text-transform: uppercase
    font-family: FuturaBookC
    font-style: normal
    font-weight: normal
    transition: color 0.2s
    &:hover
      color: $primary

.phone
  color: $primary
  text-decoration: underline
  font-family: FuturaDemiC
  font-style: normal
  font-weight: 500
  margin-right: 45px

.contacts__button
  padding: 14px 20px