.hero
  background: $dark url(../img/hero-bg.jpg) no-repeat center / cover
  height: 100vh
  color: $light
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  padding-top: 100px
  &__instagram
    max-width: 82px
    height: 100%
    position: absolute
    left: 0
    top: 0
  &__content
    max-width: 670px
  &__text
    font-family: FuturaBookC
    font-style: normal
    font-weight: normal
    font-size: 22px
    line-height: 30px
    max-width: 504px
  &__button
    padding: 19px 23px
    margin-right: 20px
  &__scroll-down
    position: absolute
    left: 0
    bottom: 0
    min-width: 247px
    min-height: 97px
    background-color: $dark
    display: flex
    justify-content: center
    align-items: center
    font-family: Yeseva One
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 138.6%
    text-transform: uppercase
    color: $light
 
  

.instagram
  background: $dark
  display: flex
  justify-content: center
  align-items: center
  &__link
    text-transform: uppercase
    color: $primary
    font-family: FuturaDemiC
    transform: rotate(90deg)

.title
  margin: 0
  font-family: Yeseva One
  font-style: normal
  font-weight: normal
  font-size: 40px
  line-height: 53px
  text-transform: uppercase
  &--primary
    color: $primary

  
