@font-face {
  font-family: 'Arial-BoldMT';
  src:
    url("../fonts/Arial-BoldMT.woff") format("woff"),
    url("../fonts/Arial-BoldMT.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArialMT Regular';
  font-style: normal;
  font-weight: normal;
  src: local('ArialMT Regular'),
    url('../fonts/arialmt.woff') format('woff');
}