*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
}

h2, h3, h4 {
  font-weight: normal;
}

input {
  outline: none;
}

button {
  outline: none;
  border: none;
}

.container {
  width: 80%;
  max-width: 1170px;
  margin: 0 auto;
}

.button {
  font-size: 1.142rem;
  line-height: 2.6rem;
  border-radius: 40px;
  padding: 0.3rem 2.3rem;
  font-weight: 500;
  cursor: pointer;
}

.button--primary {
  background: #ff5a3c;
  color: #ffffff;
}

a {
  text-decoration: none;
}

.text--br {
  display: block;
}

.text--primary {
  color: #ff5a3c;
}

.title {
  font-size: 2.93rem;
  font-weight: 700;
  text-align: center;
  color: #2c2c2d;
}

.description {
  font-size: 1.142rem;
  font-weight: 400;
  text-align: center;
  color: #2c2c2d;
  line-height: 1.57rem;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #38393b;
  overflow: hidden;
}

.header__menu .menu__btn:checked ~ .menu__nav {
  -webkit-transform: translateY(80%);
          transform: translateY(80%);
}

.header__menu .menu__btn:checked ~ .burger-menu {
  cursor: pointer;
}

.header__menu .menu__btn:checked ~ .burger-menu .burger-menu__lines {
  background-color: transparent;
}

.header__menu .menu__btn:checked ~ .burger-menu .burger-menu__lines::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__menu .menu__btn:checked ~ .burger-menu .burger-menu__lines::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__menu .menu__btn:checked ~ .burger-menu:not(.steps) .burger-menu__lines::before, .header__menu .menu__btn:checked ~ .burger-menu:not(.steps) .burger-menu__lines::after {
  top: 0;
}

.menu__nav {
  font-size: 1.142rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  clear: both;
  -webkit-transition: all 0.4 ease-out;
  transition: all 0.4 ease-out;
}

.menu__btn {
  display: none;
}

.menu__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo__name {
  letter-spacing: 1.02px;
  font-size: 1.857rem;
  font-weight: 700;
  color: #38393b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__name::before {
  content: url("../img/header/logo.png");
  margin-right: 0.93rem;
}

.nav__item {
  margin-right: 1.857rem;
  margin-bottom: 1rem;
  letter-spacing: -0.24px;
  position: relative;
  color: #38393b;
}

.nav__item::after {
  content: '';
  position: absolute;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav__item:hover::after {
  width: 100%;
  height: 2px;
  background-color: #ff5a3c;
  display: block;
  bottom: -3px;
  left: 0;
}

.nav__item:nth-last-child(-n+1) {
  margin-right: 0;
}

.contacts__phone {
  font-size: 1.285rem;
  font-weight: 500;
  color: #38393b;
  margin-right: 3.3rem;
  margin-left: 1.3rem;
  margin-bottom: 1rem;
}

.burger-menu {
  display: block;
  position: relative;
  padding: 30px 22px;
}

.burger-menu__lines {
  background-color: #ff5a3c;
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
  width: 20px;
}

.burger-menu__lines::after {
  content: '';
  top: 5px;
}

.burger-menu__lines::before {
  content: '';
  top: -5px;
}

.burger-menu__lines::after, .burger-menu__lines::before {
  background-color: #ff5a3c;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 100%;
}

.hero {
  background: url("../img/hero/hero-bg.png") no-repeat;
  letter-spacing: -0.24px;
  position: relative;
}

.hero::after {
  content: '';
  top: 303px;
  left: 332px;
  position: absolute;
  width: 38px;
  height: 38px;
  background: transparent url("../img/hero/decorative-tic.png");
}

.hero__container {
  position: relative;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.hero__video {
  margin-top: 19rem;
  width: 100%;
  height: auto;
  position: relative;
}

.hero__video-play {
  position: absolute;
  display: block;
  width: 8.71rem;
  height: 8.71rem;
  background-color: rgba(9, 9, 9, 0.4);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero__video-play::after {
  content: '';
  position: absolute;
  display: block;
  width: 75%;
  height: 75%;
  background-color: rgba(185, 184, 184, 0.4);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero__video-play::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-22%, -50%);
          transform: translate(-22%, -50%);
  border: 1rem solid transparent;
  border-left: 1.64rem solid red;
  opacity: 1;
}

.hero__video-info {
  width: 100%;
  background: #fff url("../img/hero/graph-bg.png") no-repeat center;
  -webkit-box-shadow: 0 0 22px 5px rgba(34, 34, 34, 0.05);
          box-shadow: 0 0 22px 5px rgba(34, 34, 34, 0.05);
  position: absolute;
  padding-top: 61px;
  padding-bottom: 23px;
}

.video-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding: 7.857rem 4.285rem;
  margin-top: -125px;
}

.video-info__number {
  color: #ff5a3c;
  font-size: 4.43rem;
  display: block;
  letter-spacing: -3.34px;
  font-weight: 700;
}

.video-info__text {
  color: #383736;
  font-size: 1.57rem;
  font-weight: 700;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 4rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__title {
  z-index: 1;
  min-width: 43.64rem;
  letter-spacing: 1.5px;
  line-height: 4.785rem;
  margin-top: 3rem;
}

.main__text {
  color: #2e2e2d;
  max-width: 40.2rem;
  font-size: 20px;
  line-height: 2rem;
  letter-spacing: -0.5px;
  font-weight: 300;
  margin-top: 3.5rem;
}

.main__button {
  padding: 0.5rem 2.8rem;
}

.main__img {
  margin-right: 6rem;
  margin-left: -7rem;
}

.main::after {
  content: '';
  position: absolute;
  width: 20.36rem;
  height: 17.14rem;
  bottom: -14rem;
  right: 10rem;
  background: transparent url("../img/hero/decorative-lines.png");
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 778px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: 1rem;
  margin-right: 2rem;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

.social__links {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: -1.5rem;
}

.social__links a {
  margin-bottom: 1.5rem;
}

.social__line {
  width: 2px;
  height: 44.3rem;
  background-color: #ff5a3c;
  margin: 3rem auto;
}

.social__header {
  color: #e3fbdd;
  font-size: 8rem;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  bottom: 4rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.social__header h2 {
  margin: 0;
  padding: 0;
}

.advantages {
  margin-top: 6.5rem;
}

.advantages__description {
  max-width: 59.2rem;
  margin: 0 auto;
}

.advantages__content {
  margin-top: 4.57rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantages__content-block {
  text-align: center;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin-bottom: 3rem;
}

.advantages__content-icon {
  height: 34px;
}

.advantages__content-header {
  color: #2c2c2d;
  font-size: 1.428rem;
  font-weight: 700;
}

.advantages__content-description {
  font-size: 1.143rem;
  font-weight: 300;
  line-height: 1.571rem;
}

@media screen and (max-width: 1740px) {
  .main {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 1rem;
    margin-top: -4rem;
  }
  .main__title {
    margin: 0;
  }
  .main__img {
    margin: 0;
  }
  .main::after {
    right: 6rem;
  }
  .social {
    margin-top: 14rem;
    margin-left: 0;
    margin-right: 0;
  }
  .social__links {
    margin-bottom: 5rem;
  }
  .social__header {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    bottom: 7%;
    left: 13%;
  }
}

@media screen and (max-width: 1600px) {
  .hero__video {
    margin-top: 10rem;
  }
  .hero__video-info {
    margin-top: -200px;
  }
  .main::after {
    right: 3rem;
    bottom: -4rem;
  }
}

@media screen and (max-width: 1250px) {
  html {
    font-size: 12px;
  }
  .social__header {
    bottom: 9%;
  }
  .main__img {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media screen and (max-width: 1100px) {
  html {
    font-size: 11px;
  }
}

@media screen and (max-width: 992px) {
  .video-info__block {
    margin-right: 1rem;
  }
}

@media screen and (max-width: 772px) {
  html {
    font-size: 8px;
  }
  .hero::after {
    display: none;
  }
  .hero__container {
    width: 100%;
  }
  .hero__video {
    margin-top: 22rem;
  }
  .hero__video-info {
    position: static;
  }
  .hero__video-play {
    top: 74%;
  }
  .social {
    margin-top: -29rem;
  }
  .social__header {
    bottom: 10%;
    left: 31%;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 6px;
  }
  .advantages__content-block {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  .hero__video {
    margin-top: 31rem;
  }
  .social {
    margin-top: -57rem;
  }
  .social__header {
    display: none;
  }
  .main__title {
    margin: 0 auto;
  }
  .main__text {
    line-height: 3rem;
  }
  .main__img {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .hero__video-play {
    top: 77%;
  }
}

@media screen and (min-width: 992px) {
  .menu__nav {
    clear: none;
    position: static;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    display: block;
  }
  .burger-menu {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */