a
  text-decoration: none

button
  border: none

.button
  text-transform: uppercase
  color: $light
  font-family: 'Futura Demi'
  font-weight: 500
  font-size: 0.93rem
  line-height: 15px
  border-radius: 2px
  &:hover
    cursor: pointer
  &--primary
    background: $primary
    box-shadow: 0px 5px 15px rgba($primary, 0.2)
    transition: box-shadow 0.3s
    &:hover
      box-shadow: none
      background: darken($primary, 13%)
  &--outline
    border: 1px solid #FFFFFF
    background: transparent
    &:hover
      background: $dark

.section
  &-title
    text-align: center
    text-transform: uppercase
    font-family: 'Yeseva One', cursiv
    font-size: 0.95rem
    line-height: 120%
    font-weight: normal
    &__image
      display: flex
      justify-content: center
      align-items: center
      &:before, &::after
        content: ''
        width: 30px
        height: 2px
        background-color: $primary
        border-radius: 30px
        margin: 0 10px
        

        
.section-description
  font-family: 'Futura Book'
  font-style: normal
  font-weight: normal
  font-size: 1.43rem
  line-height: 1.93rem
  text-align: center

.label
  font-family: 'Futura Book' 
  &--light
    color: rgba($light, 0.5)

.input
  border: none
  border-bottom: 1px solid
  background-color: transparent
  padding: 0.5rem 0

.policy
  position: relative
  &__checkbox
    opacity: 0
    visibility: hidden
    position: absolute
    width: 1.285rem
    height: 1.285rem
    margin-top: 7px
    margin-right: 9px
    &:checked +
      .policy__label
        &::before
          content: ''
          background: $primary url('../img/checked.svg') no-repeat center  
  &__label
    display: flex
    align-items: flex-end
    font-family: 'Futura Book'
    font-size: 1.142rem
    margin-bottom: 40px
    &::before
      content: ''
      margin-top: 6px
      width: 1.285rem
      height: 1.285rem
      border: 1px solid $primary   
      border-radius: 1px   
      margin-right: 9px

// scroll-up button
#toTop
  position: fixed
  right: 10px
  bottom: 20px
  width: 40px
  height: 40px
  border: 2px solid $primary
  border-radius: 50%
  background: url('../img/arrow-down.svg') no-repeat center
  transform: rotate(180deg)
  outline: none
  cursor: pointer
