@media screen and ( max-width: 1350px )
  html
    font-size: 12px
  
  .nav
    &__item
      margin-right: 1rem

@media screen and ( max-width: 992px )
  // hero
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0

  .nav
    display: none

    // types
  .card
    &__image
    &__text
      margin-top: -0.5rem
      min-width: 100%
    &__title
      max-width: 50%
      

@media screen and ( max-width: 760px )
  // types
  .row
    flex-direction: column  
    align-items: center
  .types
    &__card
      margin-bottom: 5rem

  .card
    &__text
      margin-top: -14rem
      margin-left: 0
    &__title
      max-width: 100%
  
  // design-project
    .row
      flex-direction: column
      align-items: center
  .design-project
    &__card
      margin-bottom: 5rem
    &::after
      top: 0
      height: 100%
    &__section-title
      color: $light
    &__section-description
      color: $light
  .card
    &__text
      margin-left: 0

    

@media screen and ( max-height: 590px )
  // hero
  .hero
    &__scroll-down
      display: none
    

@media screen and ( max-width: 570px )
  .contacts
    display: flex
    justify-content: center
    align-items: center
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none

  .title
    font-size: 1.64rem

  .hero
    &__scroll-down
      display: none
    &__content
      max-width: 22.86rem
    &__title
      line-height: 132.83%
    &__text
      font-size: 1.29rem
      margin-bottom: 2.28rem
      line-height: 135.84%
    &__button
      display: block
      min-width: 22.86rem
      margin-bottom: 1.85rem

   

@media screen and ( max-width: 450px )
  .hero
    &__content
      min-width: 100%
    &__button
      min-width: 100%
    &__text
      max-width: 22.86rem
    &__title
      max-width: 22.86rem
    
  
@media screen and ( max-height: 400px )
  .hero
    &__button
      display: none
  
